.content{
    position: relative;
    max-width: 550px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
    z-index: 1000;
}

.content.active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.movie-title{
    max-width: 250px;
    margin-bottom: 20px;
}

.content h4{
    color: rgba(255, 255, 255, 0.6);
    font-size: 30px;
    font-weight: 400;
}

.content h4 span{
    padding: 0 10px;
    border-right:1px solid rgba(255, 255, 255, 0.6);
}

.contenth4 span:first-child{
    border-left: 0;
}

.contenth4 span:last-child{
    border-right: 0;
}

.content h4 span i{
    background: var(--primary);
    color:#ffffff;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}

.content p{
    color: #ffffff;
    font-size:1rem;
    line-height: 1.5rem;
    margin:20px 0 30px;
    font-weight: 400;
}